<div class="card mt-5">
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <!-- User Name -->
      <div class="form-row" formGroupName="username">
        <div class="col-md mb-3">
          <label for="">First name</label>
          <input type="text" class="form-control" formControlName="firstname" [ngClass]="{'is-invalid': formErrors.firstname}"
            (blur)="logValidationErrors()">
          <div class="invalid-feedback" *ngIf="formErrors.firstname">
            <span>{{formErrors.firstname}}</span>
          </div>
        </div>
        <div class="col-md mb-3">
          <label for="">Last name</label>
          <input type="text" class="form-control" formControlName="lastname" [ngClass]="{'is-invalid': formErrors.lastname}"
            (blur)="logValidationErrors()">
          <div class="invalid-feedback" *ngIf="formErrors.lastname">
            <span>{{formErrors.lastname}}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Contact Preference</label>
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="email" formControlName="contactPreference" checked>
            <label class="form-check-label">Email</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="mobile" formControlName="contactPreference">
            <label class="form-check-label">Mobile</label>
          </div>
        </div>
      </div>
      <!-- Email address -->
      <div class="form-group">
        <label for="">Email address</label>
        <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': formErrors.email}"
          (blur)="logValidationErrors()">
        <div class="invalid-feedback" *ngIf="formErrors.email">
          <span>{{formErrors.email}}</span>
        </div>
      </div>
      <!-- Mobile -->
      <div class="form-group">
        <label for="">Mobile</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" maxlength="10" formControlName="mobile" [ngClass]="{'is-invalid': formErrors.mobile}"
            (blur)="logValidationErrors()">
          <div class="input-group-prepend">
            <div class="input-group-text">{{mobileLength}}</div>
          </div>
          <div class="invalid-feedback" *ngIf="formErrors.mobile">
            <span>{{formErrors.mobile}}</span>
          </div>
        </div>

      </div>
      <!-- Languages -->
      <div class="form-group">
        <label>Languages </label>
        <select class="form-control" formControlName="language" [ngClass]="{'is-invalid': formErrors.language}" (blur)="logValidationErrors()">
          <option disabled>Please select a language</option>
          <option *ngFor="let lang of _languages" [value]="lang">{{lang}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="formErrors.language">
          <span>{{formErrors.language}}</span>
        </div>
      </div>
      <!-- Skills -->
      <div class="form-group" formGroupName="skills">
        <div class="form-row">
          <div class="col-md mb-3">
            <label for="">Skill Name</label>
            <input type="text" class="form-control" formControlName="skillName" [ngClass]="{'is-invalid': formErrors.skillName}"
              (blur)="logValidationErrors()">
            <div class="invalid-feedback" *ngIf="formErrors.skillName">
              <span>{{formErrors.skillName}}</span>
            </div>
          </div>
          <div class="col-md mb-3">
            <label for="">Experience</label>
            <input type="text" class="form-control" formControlName="skillExperience" [ngClass]="{'is-invalid': formErrors.skillExperience}"
              (blur)="logValidationErrors()">
            <div class="invalid-feedback" *ngIf="formErrors.skillExperience">
              <span>{{formErrors.skillExperience}}</span>
            </div>
          </div>
        </div>
        <p>Proficiency</p>
        <div class="form-check form-check-inline" *ngFor="let skillLevel of _skillLevels">
          <input class="form-check-input" type="radio" name="skillLevel" formControlName="skillLevel" [value]="skillLevel"
            [ngClass]="{'is-invalid': formErrors.skillLevel}" (blur)="logValidationErrors()">
          <label class="form-check-label text-capitalize">{{skillLevel}}</label>
        </div>
        <div class="invalid-feedback" *ngIf="formErrors.skillLevel">
          <span>{{formErrors.skillLevel}}</span>
        </div>
      </div>
      <!-- whatsapp -->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" formControlName="whatsapp">
        <label class="form-check-label">are you using WhatsApp</label>
      </div>
      <div>
        <button class="btn btn-primary mr-1" [disabled]="userForm.invalid">Submit</button>
        <button type="button" class="btn btn-success ml-1" (click)="setDataLoad()">Load Data</button>
        <button type="reset" class="btn btn-danger ml-1" (click)="resetForm()">Reset Form</button>
      </div>
    </form>
  </div>
</div>
